div.intro-text{
    height: 45vh;
}
span {
    color: purple;
}

div.speech-to-text{
    height: 50vh;
}

p{
    font-size: 2em;
}

.ear:hover{
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}
