form.text-to-speach{
    height: 50vh;
}

div.text-to-speech{
    height: 50vh;
}

.lips:hover{
    cursor: pointer;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}